# Application
PROJECT_NAME="Accessibility Health API"
VERSION="0.1.0"
DEBUG=False

# API
API_V1_PREFIX="/api/v1"
ALLOWED_ORIGINS=["http://localhost:3000"]

# Database
DATABASE_URL="postgresql+asyncpg://localhost:5432/a11y_health"
TEST_DATABASE_URL="postgresql+asyncpg://localhost:5432/a11y_health_test"
